body {
  font-family: Verdana, Tahoma, sans-serif;
}
#box_1 {
  background-color: indianred;
  height: 200px;
  width: 200px;
  display: none;
  position: relative;
}
#box_2 {
  background-color: greenyellow;
  height: 200px;
  width: 200px;
  display: none;
}
p {
  font-size: 1.6rem;
}

p span {
  color: rgb(20, 41, 133);
  font-weight: bold;
}
